# Ignore virtual environment files
venv/
__pycache__/
*.py[cod]

# Ignore SQLite database
db.sqlite3

# Ignore unnecessary system files
*.log
.DS_Store

# Ignore any IDE or environment-specific settings
.env
.vscode/
.idea/
